node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.nyc_output
coverage
.nyc_output
.coverage
.coverage/
.pytest_cache
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.phpunit.result.cache
/.phpunit.cache
/vendor
/public/build
/public/hot
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
